#intro{
    width calc(60vmin)
    height calc(60vmin)
    position absolute
    left 0
    right 0
    top 0 
    bottom 0
    margin auto auto
    animation intro-grow .5s ease
    animation-fill-mode forwards

    #phone{
        animation phone-grow .7s ease
        animation-fill-mode forwards
        transform scale(0)
        animation-delay .3s

        #weseeyou-container{
            position absolute
            left 0
            right 0
            top 0
            bottom 0
            width 30%
            height 69%
            display block
            margin auto auto
            overflow hidden

            #weseeyou{
                position absolute
                bottom -42%
                word-spacing 300px
                animation weseeyou-in 2s ease forwards
                animation-delay 2s
                color $lightAccent
            }
        }
    }

    #hand1{
        animation-delay .9s    
    }

    #hand2{
        animation-delay 1.2s    
    }

    #hand3{
        animation-delay 1.5s    
    }

    .img{
        transform scale(0)
        animation phone-grow .5s
        animation-fill-mode forwards
        animation-delay .9s
        background-size cover
        background-position center
    }

    .centered{
        left 0
        right 0
        top 0
        bottom 0
        margin auto auto  
        position absolute
    }
    
}

#circle{
    width 60%
    height 60%
    background-color $lightAccent
    border-radius 100%    
}

@keyframes weseeyou-in{
    0%{
        bottom -42%
    }    
    100%{
        bottom 25%    
    }
}

@keyframes phone-grow{
    0%{
        transform scale(0)
    }    
    100%{
        transform scale(1)
    }
}

@keyframes intro-grow{
    0%{
        transform scale(0)
    }    

    100%{
        transform scale(1)
    }
}