@require "Vars.styl"
    
$mob_marqueeHeight = 75px

#marquee{
    width 100%
    height $mob_marqueeHeight
    background-color white
    white-space nowrap
    position relative
    overflow-x hidden
    overflow-y hidden

    .bullet{
        float left
        height 100%
        line-height $mob_marqueeHeight
        display inline-block
        margin-left 20px
        font-weight bold
        color $lightAccent
    }

    .bullet-list{
        position absolute
        overflow hidden
        white-space nowrap
        display flex
        flex-direction row
    }
}

//Desktop or Laptop
@media only screen and (min-device-width: 1025px){
    #marquee{
        background-color red 
        height 200px   
    }
}

@keyframes scrollBullets{
    0%{
        right 0%
    }
    100%{
        right -100%
    }
}